quart
aiohttp
gunicorn
uvicorn
requests
quart-cors
openai
google-cloud-secret-manager
pinecone
numpy
quart-rate-limiter
circuitbreaker
google-cloud-logging
google-cloud-firestore
python-jose
psutil
firebase-admin
async-openai
ujson