.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
  }
  
  .creditDisplay {
    padding: 10px;
    background-color: #ff00f2;
    border-radius: 5px;
    margin: 10px 0;
    font-weight: bold;
  }

  .input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745; /* Green color */
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #218838; /* Darker green color */
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  
  .logoutButton {
    background-color: #28a745; /* Green color */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .logoutButton:hover {
    background-color: #218838; /* Darker green color */
  }
  